<div id="job-view-container" class="container">
  <div class="row text-center" >
    <a href="/" class="back-line main-color">Voltar</a>
    <div id="img-container" class="col-md-12">
      <img src="/img/svg.png" alt="company">
    </div>
    <div class="col-md-12">
      <h1 class="main-color">{{job._previousDataValues.title}}</h1>
      <p class="bold">Quem eles estão buscando:</p>
      <p class="job-des">{{job._previousDataValues.description}}</p>
      <p><span class="bold">O sálario informado é de: </span>R$: {{job._previousDataValues.salary}}</p>
      <p>Para trabalhar na <span class="bold main-color">{{job._previousDataValues.company}}</span> envie um e-mail para  <a href="mail:to{{job._previousDataValues.email}}" class="main-color">{{job._previousDataValues.email}}</a></p>
    </div>
  </div>
</div>